ASPNETCORE_ENVIRONMENT=Development

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=lighthouse_sanctuary;Username=postgres;Password=admin;Include Error Detail=true

Jwt__Issuer=Lighthouse.Sanctuary.Api
Jwt__Audience=Lighthouse.Frontend
Jwt__Key=ReplaceThisWithALongSecureJwtKeyForLocalDevelopment123!
Jwt__TokenLifetimeMinutes=120
