DB_PROFILE=azure

AZURE_DB_HOST=lh-sanctuary-db.postgres.database.azure.com
AZURE_DB_PORT=5432
AZURE_DB_NAME=lh_sanctuary

# Azure PostgreSQL usernames are commonly in the format: username@server_name
AZURE_DB_USER=your_user@lh-sanctuary-db
AZURE_DB_PASSWORD=your_password
AZURE_DB_SSLMODE=require
